.sideBar {
  transition: left 0.4s;
  position: fixed;
  width: 258px;
  height: calc(100vh - 51px);
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  overflow-y: auto;
  z-index: 20;

  h1 {
    display: flex;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    height: 40px;
    padding-left: 20px;
  }

  ul {
    li {
      display: flex;
      align-items: center;
      padding-left: 30px;
      color: #ffffff;
      background: rgba(0, 0, 0, 0.3);
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      height: 40px;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: black;
      }
    }
  }
}
